<ul>
    {% for s in sections recursive %}

    <li><a class="pure-menu-link" href="/s/{{s.id}}">Section: {{s.title}}: confidence-{{ (s.completed_tasks / s.total_tasks * 100) | int}}&#37;</a></li>
    {% if s.sub_sections %}
    <ul>{{loop(s.sub_sections)}}</ul>
    {% else %}
    <ul>
        {% for t in s.tasks %}
        <li><a href="/task/{{t.id}}" class="pure-menu-link">Topic: {{t.title}}: confidence-{{(t.confidence / 10 * 100) | int}}&#37;</a> </li>
        {% endfor %}
    </ul>

    {% endif %}

    <!-- <li>
        <form method="post" action="/task" class="pure-form">
            <input type="text" name="title" />
            <textarea name="description"></textarea>
            <input type="hidden" name="parent" value={{s.id}} />
            <input type="date" name="due-date" />
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </form>
    </li> -->

    {% endfor %}

    {% for t in top_section_tasks %}
    <li><a href="/task/{{t.id}}" class="pure-menu-link">Topic: {{t.title}}: confidence-{{(t.confidence / 10 * 100) | int}}&#37;</a> </li>
    {% endfor%}

</ul>
