<!DOCTYPE html>

<head>
    <title>Overview</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pure.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='grids-responsive.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">

        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/getting" class="pure-menu-link">Getting Index</a></li>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Passing Index</a></li>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Stages Index</a></li>
            </ul>
        </div>

        {% block content %}{% endblock %}

    </div>
</body>

</html>
