<!DOCTYPE html>

<head>
    <title>Overview</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pure.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='grids-responsive.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">

        <h1>Interview TODO:</h1>

        <button class="pure-button pure-button-primary">New Top Section</button>

        {% with sections=sections, top_section_tasks=[] %}
        {% include "partials/section-list.html" %}
        {% endwith %}

    </div>
</body>


</html>
