
<html>
<head>
 <title>Overview</title>
</head>
<body>

 getting the interview

 passing the interview

 misc prep

 target companies - tracking progress with specific companies and keeping data like emails and dates and such - maybe connect to an api here, to get images, or like intern suply checking when aplications open - etc ... keeping notes

 <ul>
 {% for s in sections recursive %}
  <li>{{s.title}}</li>
  {% if s.sub_sections %}
   <ul>{{loop(s.sub_sections)}}</ul>
  {% else %}
   <ul>

   {% for t in s.tasks %}
    <li>{{t.title}}</li>
   {% endfor  %}
    
    <li>
    <form method="post" action="/task">
     <input type="text" name="title"/>
     <textarea name="description"></textarea>
     {% include "partials/form_section_single_select.html" %}
     <input type="date" name="due-date"/>
     <input name="task-post" type="submit" value="Submit"/>
    </form>
    </li>
   </ul>
  {% endif %} 
 {% endfor %}
 </ul>
 
 <h2>Section: Interview Prep</h2>
 <h3>Sub Section: Data Structure</h3>
 <h3>Sub Sub Section: Trees</h3>
 <p>Tree Task, Traverse in Order</p>

 <h2>Projects</h2>

 <h2>Networking</h2>


 <form method="post">

  <input type="text" name="title"/>

  <textarea name="description"></textarea>  

 <select name="parent-id">
   <option value="">No Parent</option>
   {% for s in sections recursive %}
    <option value={{s.id}}>{{s.title}}</option>
    {% if s.sub_sections %}
     {{loop(s.sub_sections)}}
    {% endif %}
   {% endfor %}
  </select>
  
  <input name="section-post" type="submit" value="Submit"/>
 </form>

 
</body>
</html>

