
<html>
<head>
 <title>Overview</title>
</head>
<body>

 <p>{{sections}}</p>

 <form method="post">
  <input type="text" name="title"/>
  <input type="submit" value="Submit"/>
 </form>


 getting the interview

 passing the interview

 misc prep

 target companies - tracking progress with specific companies and keeping data like emails and dates and such - maybe connect to an api here, to get images, or like intern suply checking when aplications open - etc ... keeping notes

 
 <h2>Section: Interview Prep</h2>
 <h3>Sub Section: Data Structure</h3>
 <h3>Sub Sub Section: Trees</h3>
 <p>Tree Task, Traverse in Order</p>

 <h2>Projects</h2>

 <h2>Networking</h2>


</body>
</html>

