
{% extends "base.html" %}
{% block content %}
  <h1>Section: {{sec.title}}</h1>
  <ul>
      {% for s in sec.sub_sections recursive %}

      <li><a class="pure-menu-link" href="/s/{{s.id}}">Section: {{s.title}}: confidence-{{ (s.completed_tasks / s.total_tasks * 100) | int}}&#37;</a></li>
      {% if s.sub_sections %}
      <ul>{{loop(s.sub_sections)}}</ul>
      {% else %}
      <ul>
          {% for t in s.tasks %} {% if t.completed %} {% set completed = 'checked' %} {% else %} {% set completed = '' %} {% endif %}
          <li>
              <a href="/task/{{t.id}}" class="pure-menu-link">Topic: {{t.title}}: confidence-{{(t.confidence / 10 * 100) | int}}&#37;</a>
              <!-- <form method="post" action="/task/{{t.id}}" class="pure-form">
                  <div>
                      <label for="conf-{{t.id}}">Confidence:</label>
                      <input type="number" min="0" max="10" id="conf-{{t.id}}" name="confidence" value={{t.confidence}} />
                  </div>
                  <button type="submit" class="pure-button pure-button-primary">Submit</button>
              </form> -->
          </li>
          {% endfor %}
      </ul>

      {% endif %}

      <!-- <li>
          <form method="post" action="/task" class="pure-form">
              <input type="text" name="title" />
              <textarea name="description"></textarea>
              <input type="hidden" name="parent" value={{s.id}} />
              <input type="date" name="due-date" />
              <button type="submit" class="pure-button pure-button-primary">Submit</button>
          </form>
      </li> -->

      {% endfor %}

  </ul>
{% endblock %}
