 {% extends "base.html" %} {% block content %}

<h1><p>{{sec.title}}</p></h1>

<form class="pure-form pure-form-stacked" method="post" action="/section/{{sec.id}}">
    <fieldset>
        <div class="form-group">
            <label for="header-section-name">Section Name</label>
            <input required class="form-control" id="header-section-name" type="text" name="title" placeholder="Section Name" value="{{sec.title}}" maxlength="80"/>
        </div>

        <div class="form-group">
            <label for="header-section-description">Section Description</label>
            <textarea class="form-control" id="header-section-description" name="description" placeholder="Description">{{sec.description}}</textarea>
        </div>

        <label for="update-confirm"><input required id="update-confirm" name="update-section" type="checkbox" value="update">&nbsp;Are you sure?&nbsp;</label>
        <button type="submit" class="btn btn-default">Update Section</button>
    </fieldset>
</form>

<hr />
<h3>Confidence: {{ (sec.completed_tasks / sec.total_tasks * 100) | int}}&#37;</h3> {% with sections=sec.sub_sections, top_section_tasks=sec.tasks%} {% include "partials/section-list.html" %} {% endwith %}

<form method="post" action="/task">
    <legend>Add Task to this Section</legend>
    <fieldset>
        <div class="form-group">
            <label for="new-task-name">Task Name</label>
            <input id="new-task-name" class="form-control" type="text" name="title" placeholder="Name" required maxlength="80"/>
        </div>

        <div class="form-group">
            <label for="new-task-description">Task Description</label>
            <textarea class="form-control" id="new-task-description" name="description" placeholder="Description"></textarea>
        </div>

        <input type="hidden" name="parent" value="{{sec.id}}" />
        <button type="submit" class="btn btn-primary">Add New Task</button>
    </fieldset>
</form>

<hr />

<form method="post" action="/section">
    <legend>Add Sub-Section to this Section</legend>
    <fieldset>
        <div class="form-group">
          <label for="new-sub-section-name">Sub-Section Name</label>
          <input class="form-control" id="new-sub-section-name" type="text" name="title" placeholder="Name" maxlength="80" required/>
        </div>

        <div class="form-group">
          <label for="new-sub-section-name">Sub-Section Description</label>
          <textarea class="form-control" id="new-sub-section-description" name="description" placeholder="Description"></textarea>
        </div>

        <input type="hidden" value="{{sec.id}}" name="parent-id" />

        <button type="submit" class="btn btn-primary">Add new sub section</button>
    </fieldset>
</form>

<hr />

<form method="post" action="/section/{{sec.id}}">
    <fieldset>
        <legend>Delete Section and <strong>all</strong> Children</legend>
        <label for="del-confirm"><input required id="del-confirm" name="delete-sec" type="checkbox" value="delete">&nbsp;Are you sure?&nbsp;</label>
        <button type="submit" class="btn btn-danger">Delete This Section and all Children</button>
    </fieldset>
</form>

{% endblock %}
