 {% extends "base.html" %} {% block content %}
<h1>{{task.title}}</h1>

<form method="post" action="/task/{{task.id}}">
    <fieldset>
        <div class="form-group">
            <label for="task-title">Name</label>
            <input required class="form-control" id="task-title" type="text" name="title" placeholder="Task Name" value="{{task.title}}" maxlength="80"/>
        </div>

        <div class="form-group">
            <label for="task-description">Description</label>
            <textarea class="form-control" id="task-description" name="description" placeholder="Task Description">{{task.description}}</textarea>
        </div>

        <div class="form-group">
            <label for="task-conf">Confidence out of <strong>10</strong></label>
            <input class="form-control" id="task-conf" type="number" min="0" max="10" name="confidence" value="{{task.confidence}}" required />
        </div>

        <input type="hidden" name="parent" value="{{task.parent.id}}" />

        <label for="update-confirm"><input required id="update-confirm" name="update-task" type="checkbox" value="update">&nbsp;Are you sure?&nbsp;</label>
        <button type="submit" class="btn btn-default">Update Task</button>
    </fieldset>
</form>

<hr />

<form method="post" action="/task/{{task.id}}" class="pure-form">
    <fieldset>
        <legend>Delete Task</legend>
        <label for="del-confirm"><input required id="del-confirm" name="delete-task" type="checkbox" value="delete">&nbsp;Are you sure?&nbsp;</label>
        <button type="submit" class="btn btn-danger">Delete This Task</button>
    </fieldset>
</form>

{% endblock %}
